<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Notificar Reprogramación de turno</h3>
      <tr>
          <th>{{turno.vaccineName}}</th>
      </tr>
    </div>
    <div class="card-body">
      <form action="/turns/send-email/{{turno._id}}" method="POST">
          <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <button name="boton" value="reprogramar" type="submit">
            Notificar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>